[submodule "uavrt_interfaces"]
	path = uavrt_interfaces
	url = https://github.com/dynamic-and-active-systems-lab/uavrt_interfaces.git
[submodule "mavlink-headers"]
	path = mavlink-headers
	url = https://github.com/mavlink/c_library_v2.git
[submodule "libraries/mavlink-cpp"]
	path = libraries/mavlink-cpp
	url = git@github.com:dakejahl/mavlink-cpp.git
[submodule "libraries/airspyhf"]
	path = libraries/airspyhf
	url = git@github.com:airspy/airspyhf.git
